{% extends "base.html" %}
{% block content %}
  <section class="page">
    <h2>контакты</h2>
    <p>редакция «топой» отвечает на письма не сразу, но всегда старается.</p>
    <p>мы принимаем стихи, малую и крупную* прозу, статьи, эссе о литературе и многое другое (главное, чтобы это было высказыванием).</p>
    <p>спойлер: мы не редактируем ваши произведения и не подвергаем им цензуре. если же ваша работа по каким-то причинам нам не подойдёт, мы обязательно об этом вам напишем, чтобы вы не мучились ожиданием, и дадим развернутый комментарий.</p>
    <ul>
      <li>даша симонова: <a href="mailto:simonova.dasha.kzn@gmail.com">simonova.dasha.kzn@gmail.com</a></li>
      <li>ляля файзеева: <a href="mailto:lilya.fayzeeva@gmail.com">lilyafayzeeva@gmail.com</a></li>
      <li>тгк: <a href="https://t.me/topoiiiii">@topoiiiii</a></li>
    </ul>
    <p><span style="font-size: 0.85em;">*для крупной прозы предлагается поглавная публикация, как в золотые годы русской и не очень литературы.</span></p>
  </section>
{% endblock %}
