{% extends "base.html" %}
{% block content %}
  <section class="page">
    <h2>манифест</h2>
    <p>с древнегреческого τόποι — 'общие места'. места, с которых начинается любое рассуждение. места, куда можно вернуться. места, знакомые каждому. эти общие места объединяют.</p>
    <p>и мы тоже хотим объединять: начинающих и опытных, пишущих и читающих, неподопонятых и понимающих. мы хотим объединять, потому что верим, что для каждых двух из нас найдутся общие места. мы верим, что можем звучать разными голосами без какофонии — и приглашаем всех, кому есть что сказать.</p>
  </section>

  <section class="recent">
    <h2>последние публикации</h2>
    {% for text in texts %}
      <article class="text-preview">
        <h3><a href="/text/{{ text.slug }}">{{ text.title }}</a></h3>
        <p class="author">
          {% if text.author_slug %}
          <a href="/author/{{ text.author_slug }}">{{ text.author }}</a>
          {% else %}
          {{ text.author }}
          {% endif %}
        </p>
        <p class="excerpt">{{ text.content[:300]|safe }}...</p>
        {% if text.tags %}
          <p class="tags">теги: {{ text.tags | join(', ') }}</p>
        {% endif %}

      </article>
    {% endfor %}
  </section>
{% endblock %}
