{% extends "base.html" %}
{% block content %}
  <section class="page">
    <h2>{{ text.title }}</h2>
    <p class="author">
        <a href="/author/{{ text.author_slug }}">{{ text.author }}</a>
    </p>
    {% if text.tags %}
      <p class="tags">теги: {{ text.tags | join(', ') }}</p>
    {% endif %}

    <div class="text-content">
      {{ text.content|safe }}
    </div>
    <hr>
    <p style="text-align: center;">
        <a href="/author/{{ text.author_slug }}">другие тексты автора</a>
    </p>
  </section>
{% endblock %}
