{% extends "base.html" %}
{% block content %}
  <section class="page">
    <div class="text-header">
      <h2>{{ text.title }}</h2>
      <p class="author">
        автор: <a href="/author/{{ text.author_slug }}">{{ text.author }}</a>
     </p>
   </div>

    {% if text.tags and text.tags|length > 0 %}
      <p class="tags">теги: {{ text.tags | join(', ') }}</p>
    {% endif %}

    <section class="text-content">
      {{ text.content|safe }}
    </section>


    <p style="text-align: center;">
        <a href="/author/{{ text.author_slug }}">другие тексты автора</a>
    </p>
  </section>
{% endblock %}
